.containerFeed {
  height: 93vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 20px;
  box-sizing: border-box;
  background-color: #ffffff;

  border-radius: 20px;
}

.FeedMessagesContainer {
  height: 100%;
  width: 67%;
  background-color: #ffffff;
  box-shadow: 0 2.5px 14px -1px rgba(58, 58, 58, 0.1);
  border-radius: 10px;
  margin-right: 20px;
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.AchivementContainer {
  height: 100%;
  width: 33%;
  border-radius: 10px;
  background-color: #ffffff;
  box-shadow: 0 2.5px 14px -1px rgba(58, 58, 58, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.AchivementContainer a {
  text-decoration: none;
  width: 30%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.AchivementContainer a::after {
  content: "Ranking";
  color: #ffb81e;
}

.title {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 15px;
}

.requestList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.requestItem {
  font-size: 1rem;
  color: #555;
  margin: 10px 0;
}

.requestItem button {
  margin: 2px;
}

.acceptButton {
  background-color: #28a745;
  color: white;
  border: none;

  cursor: pointer;
  padding: 2.5px;

  border-radius: 5px;
}

.rejectButton {
  background-color: #d30b0b;
  color: white;
  border: none;

  cursor: pointer;
  padding: 2.5px;

  border-radius: 5px;
}

.requestSender {
  color: #007bff;
  font-weight: 600;
}

.loadingText {
  font-size: 1rem;
  color: #888;
}

.noRequestsText {
  font-size: 1rem;
  color: #888;
  margin-top: 15px;
}

.trofeu::after {
  content: "Ranking";
  color: black;
}

.questionNotification {
  margin: 10px;

  padding: 10px;

  background-color: #ffb81eaf;
  border-radius: 10px;
  
  transition: 0.5s all ease;
}

.questionNotification:hover {
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  .containerFeed {
    flex-direction: column;
    height: auto;
  }

  .FeedMessagesContainer {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .AchivementContainer {
    width: 100%;
  }
}
