.TasksContainerRunner {
    height: 94vh;
    width: 100%;
    background-color: white;
    border-radius: 10px;
    
    -webkit-box-shadow: 8.5px 8px 18.5px -0.5px #7b7b7b;
    -moz-box-shadow: 8.5px 8px 18.5px -0.5px #7b7b7b;
    box-shadow: 8.5px 8px 18.5px -0.5px #7b7b7b;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    flex-direction: column;

    background-image: url("../../assets/imgs/Trail.png");
    background-size: 60% 120%;
    background-position-y: 20%;
    background-position-x: center;
    background-repeat: no-repeat;
    
  }
  
  .LevelModule {
    width: 90%;
    height: 75vh;
    border-radius: 10px;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); 
    gap: 20px;
    padding: 20px;

  }
  
  .losango {
    width: 62px;
    height: 80px;
    background-color: #a8a8a8;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    position: relative;
  }
  
  .reflex {
    width: 10px;
    height: 200%;
    background-color: aliceblue;
    position: absolute;
    top: 0;
    left: -10%; 
    z-index: -1;
    filter: blur(5px);
    display: none;
  }

  .losango:hover {
    background-color: #ffae00;
  }
  
  .LevelModule a {
    text-decoration: none;
  }
  
  .losango:hover .reflex {
    display: block;
    animation: crystalReflection 1.5s infinite linear;
  }
  
  
  @keyframes crystalReflection {
    0% {
      transform: rotate(60deg) translateX(-630%); 
    }
    50% {
      transform: rotate(60deg) translateX(630%); 
    }
    100% {
      transform: rotate(60deg) translateX(-630%); 
    }
  }
  
  .phaseDescription {
    text-align: center;
  }
  
  @media (max-width: 768px) {
    .LevelModule {
      grid-template-columns: repeat(auto-fill, minmax(80px, 1fr)); 
    }
  }
  
  @media (max-width: 480px) {
    .LevelModule {
      grid-template-columns: 1fr; 
    }
  }
  