.QuestionContainer {
  display: flex;
  flex-direction: column;
  height: 94vh;
  width: 100%;
  background-color: white;
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.containerTextInfoPhase {
  width: 100%;
  min-height: 380px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-evenly;
  justify-content: center;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.SubjectName {
  height: 13%;
  width: 100%;

  color: #ffcd2a;
}

.questionContainer {
  width: 100%;
  height: 80%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.feedback {
  border: 1px solid red;

  text-align: center;
}

.alternativas {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  margin-top: 20px;
  gap: 20px;
  justify-content: center;
  width: 100%;
}

.alternativa {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: pointer;
  font-size: 16px;
  text-align: center;
}

.checkboxInput {
  display: none;
}

.textoAlternativa {
  margin-left: 10px;
  font-size: 16px;
}

.alternativa:hover {
  background-color: #f0f0f0;
}

.alternativa input:checked + .textoAlternativa {
  font-weight: bold;
  color: #ffcd2a;
}

.navigation {
  display: flex;
  justify-content: end;
  margin-top: 30px;
  width: 100%;
}

.navigation button {
  background-color: #fcdb23;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.navigation button:disabled {
  background-color: #bdc3c7;
  cursor: not-allowed;
}

.navigation button:hover:not(:disabled) {
  background-color: #2980b9;
}

.containerImgTeco {
  background-color: #9ba5ff;

  height: 100%;
  width: 25%;

  border-radius: 50%;

  overflow: hidden;
}

.containerImgTeco > img {
  padding-top: 10px;
}

.finalScreen {
  height: 94vh;
  width: 100%;

  background-color: white;
  border-radius: 10px;

  -webkit-box-shadow: 3px 3px 10px 3px #8c8c8c;
  -moz-box-shadow: 3px 3px 10px 3px #8c8c8c;
   box-shadow: 3px 3px 10px 3px #8c8c8c;

   display: flex;
   align-items: center;
   justify-content: center;

   flex-direction: column ;
}

.components {

  height: 30%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.components h1 {
  padding-bottom: 20px;
}

.components button{
  background-color: #fcdb23;
  color: #000;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.components button:hover {
  background-color: #2980b9;
}

@media (max-width: 600px) {
  .QuestionContainer {
    padding: 15px;
  }

  .containerTextInfoPhase {
    font-size: 18px; /* Ajuste de tamanho do texto da pergunta */
    padding: 10px;
  }

  .alternativas {
    grid-template-columns: 1fr; /* Alternativas em uma coluna em telas pequenas */
    gap: 10px;
  }

  .navigation button {
    padding: 8px 16px;
    font-size: 14px;
  }
}
