.containerInitialBody {
  display: flex;
  height: 100vh;
}

.containerMainContent {
  flex: 1;
  padding: 20px;
  background-image: linear-gradient(
    to left,
    #e6ccff,
    #d9b3ff,
    #cc99ff,
    #bf80ff,
    #b366ff,
    #a64dff,
    #9a33ff
  );
  height: 100vh;
  overflow-y: auto;
  filter: blur(20%);
  border: 1px solid;
}

.toast-progress {
  background: linear-gradient(90deg, #f06, #00f);
}
