/* ClassDetails.module.css */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th, .table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.table th {
  background-color: #f2f2f2;
  text-align: left;
}

.table tr:hover {
  background-color: #f1f1f1;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  position: relative;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}

.buttonCreate {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #28a745; /* Verde */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 10px;
}

.buttonCreate:hover {
  background-color: #218838; 
}

.buttonBack {
  margin-bottom: 20px;
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.buttonBack:hover {
  background-color: #0056b3; 
}

.buttonEdit {
  background-color: #007bff; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  cursor: pointer; 
  margin-right: 5px; 
}

.buttonDelete {
  background-color: #dc3545; 
  color: white; 
  border: none; 
  padding: 5px 10px; 
  cursor: pointer; 
}

.buttonSubmit {
  background-color: #ffc400fb;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 5px;
  font-weight: bold;

  cursor: pointer;
}