.InitialChoicePrismContainer {
    height: 100vh;
    width: 100%;

    overflow: hidden;
}

.ContainerText {
    height: 20vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
.ContainerColumns {
    border: 1px solid green;
    width: 100%;
    height: 80%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ContainerColumns > img {
    height: 100%;
    width: 18%;
    cursor: pointer;
    transition: transform 0.3s ease; 
}

.ContainerColumns > img:hover {
    transform: scale(1.1); 
}
